.App {
  text-align: center;
}

.App__wrapper{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 1fr;
  height: 100vh;
}

.App__left-menu{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5) ;
  padding:16px;
}

.App__main{
  position: relative;
}

.App__img-wrapper{
  position:absolute;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: auto;
}

.App__mess-wrapper{
  position:absolute;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: auto;
}

.App__mess{
  margin:auto;
  padding: 15px;
  border: 1px dashed rgba(0,0,0,0.5);
}

.App__img{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.App__img canvas{
    height: 100%;
    width: 100%;
}
